<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="console-min-debug" class="org.apache.log4j.ConsoleAppender">
        <param name="Threshold" value="debug"/>
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%10.10t][%-5p][%-40.40c{3}] %m%n"/>
        </layout>
    </appender>
    <appender name="console-min-info" class="org.apache.log4j.ConsoleAppender">
        <param name="Threshold" value="info"/>
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%10.10t][%-5p][%-40.40c{3}] %m%n"/>
        </layout>
    </appender>
    <appender name="console-min-error" class="org.apache.log4j.ConsoleAppender">
        <param name="Threshold" value="error"/>
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%10.10t][%-5p][%-40.40c{3}] %m%n"/>
        </layout>
    </appender>


    <appender name="application-debug" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="Threshold" value="DEBUG"/>
        <param name="File" value=".log/application-debug.log"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd'.log'"/>
        <param name="Encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601}[%10.10t][%-5p][%-40.40c{3}] %m%n"/>
        </layout>
    </appender>
    <appender name="application-info" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="Threshold" value="INFO"/>
        <param name="File" value=".log/application-info.log"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd'.log'"/>
        <param name="Encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601}[%10.10t][%-5p][%-40.40c{3}] %m%n"/>
        </layout>
    </appender>
    <appender name="application-error" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="Threshold" value="ERROR"/>
        <param name="File" value=".log/application-error.log"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd'.log'"/>
        <param name="Encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601}[%10.10t][%-5p][%-40.40c{3}] %m%n"/>
        </layout>
    </appender>


    <logger name="poltora" additivity="false">
        <appender-ref ref="console-min-info"/>
        <appender-ref ref="application-info"/>
        <appender-ref ref="application-debug"/>
    </logger>


    <root>
        <appender-ref ref="console-min-info"/>
        <appender-ref ref="application-info"/>
        <appender-ref ref="application-debug"/>
    </root>
</log4j:configuration>

